@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing:border-box;
}
body {
    background-color: rebeccapurple;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins",sans-serif;
    margin: 0;
    min-height:100vh;
}
.pw-container{
    background-color: rgb(75,29,121);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    width: 400px;
}
.pw-header {
    padding:1rem;
}
.pw {
    background-color: rebeccapurple;
    display:flex;
    font-size: 2rem;
    align-items:center;
    height: 70px;
    width:100%;
    position:relative;
    padding:1rem;
}
.pw button {
    background-color:white;
    border:none;
    color:rgb(18, 16, 16);
    font-family: inherit;
    cursor:pointer;
    padding:0.25rem 0.5rem;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(0%,50%);
    transition:opacity 0.2s ease;
    opacity:0;
}
.pw:hover button{
    opacity:1;
    transform:translate(0,-80%);
}
.pw-body {
    padding: 1rem;
}
.form-control {
    display: flex;
    justify-content: space-between;
    margin:0.5rem 0;

}
.generate {
    background-color: #ecb602;
    border:none;
    color:rebeccapurple;
    font-weight:bold;
    font-size:1rem;
    padding: 1rem;
    display: block;
    margin-top: 1rem;
    width:100%;

}